.noise {
  background-size: 55px 10px;
  background-repeat: repeat;
  background-image: -webkit-repeating-radial-gradient(
      1% 21%,
      closest-corner,
      rgba(255, 0, 255, 0.5),
      rgba(0, 255, 255, 0.5),
      rgba(0, 0, 0, 1) 1.7%
    ),
    -webkit-repeating-radial-gradient(51% 51%, closest-corner, rgba(255, 255, 255, 1), rgba(255, 255, 255, 1), rgba(
            0,
            255,
            0,
            1
          )
          10%);
  filter: contrast(10) saturate(0);
  height: 200vh;
  opacity: 0.16;
  overflow: hidden;
  position: relative;
  animation: noiseAnimation 10s infinite alternate;
}
@keyframes noiseAnimation {
  0% {
    background-position: 50% 50%;
  }
  100% {
    background-position: 51% 51%;
  }
}
.noise:before {
  background-size: 15px 13px;
  background-repeat: repeat;
  background-image: -webkit-repeating-radial-gradient(
    21% 21%,
    closest-corner,
    rgba(255, 255, 255, 1),
    rgba(0, 0, 255, 0.5),
    rgba(3, 0, 255, 1) 20%
  );

  content: "";
  height: 100vh;
  left: 0;
  mix-blend-mode: exclusion;
  position: absolute;
  top: 0;
  width: 100vw;
  z-index: 999;
  background-color: black;
}
@keyframes body {
  0% {
    background-position: 50% 50%;
    background-size: 100% 100%;
  }
  25% {
    background-position: 100% 25%;
    background-size: 200% 200%;
  }
  50% {
    background-position: 50% 50%;
    background-size: 100% 100%;
  }
  75% {
    background-position: 25% 100%;
    background-size: 200% 200%;
  }
  100% {
    background-position: 50% 50%;
    background-size: 100% 100%;
  }
}
.border-animation {
  position: relative;
}

.border {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 2px;
  background: red;
}
