@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  scroll-behavior: smooth !important;
}
section {
  width: 100%;
  height: 100vh;
}

.horizontal-section {
  display: flex;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  flex-direction: row-reverse;
}

.horizontal-panel {
  width: 100%;
  height: 100vh;
  flex: 1 0 100%;
}
