/* ::selection {
  background: transparent;
}
/* CLOUDS */

.main_c {
  cursor: default;

  margin: auto;
  display: block;
  text-align: center;
  overflow-x: hidden;
}

.main_c span {
  position: relative;
  top: 20px;
  display: inline-block;
  animation: bounce 0.3s ease infinite alternate;
  font-size: 80px;
  color: #000000;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc, 0 3px 0 #ccc, 0 4px 0 #ccc,
    0 5px 0 #ccc, 0 6px 0 transparent, 0 7px 0 transparent, 0 8px 0 transparent,
    0 9px 0 transparent, 0 10px 10px rgba(0, 0, 0, 0.4);
}

.main_c span:nth-child(2) {
  -webkit-animation-delay: 0.1s;
}

.main_c span:nth-child(3) {
  -webkit-animation-delay: 0.2s;
}

.main_c span:nth-child(4) {
  -webkit-animation-delay: 0.3s;
}

.main_c span:nth-child(5) {
  -webkit-animation-delay: 0.4s;
}

.main_c span:nth-child(6) {
  -webkit-animation-delay: 0.5s;
}

.main_c span:nth-child(7) {
  -webkit-animation-delay: 0.6s;
}

.main_c span:nth-child(8) {
  -webkit-animation-delay: 0.2s;
}

.main_c span:nth-child(9) {
  -webkit-animation-delay: 0.3s;
}

.main_c span:nth-child(10) {
  -webkit-animation-delay: 0.4s;
}

.main_c span:nth-child(11) {
  -webkit-animation-delay: 0.5s;
}

.main_c span:nth-child(12) {
  -webkit-animation-delay: 0.6s;
}

.main_c span:nth-child(13) {
  -webkit-animation-delay: 0.7s;
}

.main_c span:nth-child(14) {
  -webkit-animation-delay: 0.8s;
}

/* ANIMATION */
@keyframes bounce {
  100% {
    top: -20px;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc, 0 3px 0 #ccc, 0 4px 0 #ccc,
      0 5px 0 #ccc, 0 6px 0 #ccc, 0 7px 0 #ccc, 0 8px 0 #ccc, 0 9px 0 #ccc,
      0 50px 25px rgba(0, 0, 0, 0.2);
  }
}
